html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: lightgray;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}
div,
section,
article,
nav,
header {
	border: solid 1px black;
}

#container {
	clear: both;
	overflow: hidden;
}
#wrapper {
	clear: both;
	overflow: hidden;
}

#header {
	min-height: 4.375rem;
	background-color: white;
	width: 100%;
}
#inner-header {
	width: 60rem;
	margin: 0 auto;
	min-height: 4.375rem;
}
#logo {
	width: 15%;
	float: left;
	height: 4.375rem;
	text-align: center;
	border: none;
	padding-top: 10px;
}

#logo img {
	width: 30px;
	margin: 0 auto;
}
#logo h1 {
	margin: 0;
	padding: 0;
	margin-left: -9999px;
	position: absolute;
}
#main-nav {
	width: 80%;
	float: right;
	min-height: 80px;
}
#main-nav ul {
	float: right;
	padding-right: 80px;
	padding-top: 5px;
}
#main-nav .links {
	font-size: 1.04rem;	
	font-weight: 500;
}
#main-nav li {
	display: inline-block;
	margin-right: 5px;
}
#main-nav a {
	padding: 5px;
	text-decoration: none;
	color: #838994;
}
#main-nav a.active {
	color: #4c5058;
}

